.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 1rem;
}
.stat {
  display: flex;
  padding: 1rem;
}

.controlButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.playArea {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  width: 100%;
}
